@import "../../styles/vars.css";

.home-search-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-search-about-header {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .home-search-container {
    width: 90vw;
    margin: 20px;
  }
}
