@import "../../styles/vars.css";

.restaurant-card-container {
  margin: 10px;
  text-align: left;
  padding: 25px;
  margin-bottom: 40px;
}

.restaurant-card-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.restaurant-card-details {
  font-size: 14px;
  padding-top: 5px;
}

.article-section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.article-link {
  margin-bottom: 5px;
}
.article-link a {
  text-decoration: none;
  color: var(--color-teal-dark);
  font-weight: 500;
}

.article-link a:hover {
  text-decoration: underline;
}
